<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Ramana Reddy. it uses data from <b>mapbox.com</b> and <b>darksky.net</b> </p>
        <img class="portrait" src="/img/ramana.jpg">
    </div>

    {{>footer}}
</body>

</html>